#profile {
    width: 80%;
    margin: auto;
}

#profile img {
	margin-right: 2em;
    float: left;
    width: 200px;
	border-radius: 10%;
}

@media screen and (max-width: 481px) {
	margin-right: 0em;
    float: none;
}
